[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neomodel = "*"
click = "*"
graphene = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.6"
